#!/usr/bin/env python

from dynamic_reconfigure.parameter_generator_catkin import ParameterGenerator, bool_t, double_t, int_t

gen = ParameterGenerator()

gen.add("enabled", bool_t, 0, "Whether to apply this plugin or not", True)
gen.add("footprint_clearing_enabled", bool_t, 0, "Whether to clear the robot's footprint of lethal obstacles", True)
gen.add("max_obstacle_height", double_t, 0, "The maximum height of any obstacle to be inserted into the costmap in meters.", 2, 0, 50)
gen.add("min_obstacle_height", double_t, 0, "The minimum height of any obstacle to be inserted into the costmap in meters.", -2, -50, 50)
gen.add("publish_blind_spot_marker", bool_t, 0, "Whether to publish the blind spot polygon as a marker (for rviz)", True)



combo_enum = gen.enum([gen.const("Overwrite", int_t,  0, "Overwrite values"),
                       gen.const("Maximum",   int_t,  1, "Take the maximum of the values"),
                       gen.const("Nothing",   int_t, 99, "Do nothing")],
                       "Method for combining layers enum")

blind_spot_combo_enum = gen.enum([gen.const("BlindSpotOverwrite", int_t,  0, "Overwrite values with previous blind spot data"),
                       gen.const("BlindSpotMaximum",   int_t,  1, "Take the maximum of the values"),
                       gen.const("BlindSpotMinimum",   int_t,  2, "Take the minimum of the values"),
                       gen.const("BlindSpotNothing",   int_t, 99, "Do nothing")],
                       "Method for combining blind spot values enum")

gen.add("combination_method", int_t, 0, "Method for combining two layers", 1, edit_method=combo_enum)

gen.add("blind_spot_combination_method", int_t, 0, "Method for combining two layers inside the blind spot", 1, edit_method=blind_spot_combo_enum)


exit(gen.generate("blind_spot_obstacle_layer", "blind_spot_obstacle_layer", "BlindSpotObstacleLayer"))
